@import "tailwindcss";

body {
  margin: 0;
  font-family: forma-djr-micro, sans-serif;
  font-style: normal;
  background-color: #f3f4f6;
}

.degular {
  font-family: degular-display, sans-serif;
}

.forma {
  font-family: forma-djr-micro, sans-serif;
  font-style: normal;
}